<div class="grid">
    <div class="grid-item">
        <div class="grid-content"></div>
    </div>
    <div class="grid-item">
        <div class="grid-content"></div>
    </div>
    <div class="grid-item">
        <div class="grid-content"></div>
    </div>
    <div class="grid-item">
        <div class="grid-content"></div>
    </div>
    <div class="grid-item">
        <div class="grid-content"></div>
    </div>
    <div class="grid-item">
        <div class="grid-content"></div>
    </div>
    <div class="grid-item">
        <div class="grid-content"></div>
    </div>

</div>